{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Happy Planet | Home{% endblock %}
{% block content %}




<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <h1 class="display-4">Saving the world!</h1>
        <p class="lead">Providing sustainable, eco-friendly, everyday products that are good for the planet!.</p>
    </div>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Register for 10% off!
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <p class="reg">Register and receive 10% off your first order!</p>
        <a class="btn bg-red" href="{% url 'registration' %}">Register here!!</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

<section class="index-section">
        <div class="container">
            <!-- Who We Are -->
            <div class="row large-spaced">
                <h5 class="center bold small-spaced">Our Ethos</h5>
                <!-- Column -->
                <div class="col s12 m6 small-spaced">
                    <p>Here at Happy Planet, we aim to provide a selection of sustainable products that help reduce to reduce plastic use and waste.</p>
                    <br/>
                    <br/>We believe that small changes in everyone's lifestyles can contribute to negating the effects of climate change and the destruction of our planet.
                 Wondering how to stop global warming? Reduce your own carbon footprint by following a few easy steps. Make conserving energy a part of your daily routine and your decisions as a consumer</p>
                </div>
            </div>
            
                <div class="row center">
                    <a class="btn bg-red" href="{% url 'all_products' %}">View Products</a>
                </div>
            </div>
        </div>
        
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Non-reusable</th>
      <th scope="col">Reusable</th>
    </tr>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Clingfilm</td>
      <td>Beeswax wraps</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Plastic Bottles</td>
      <td>Stainless Steel bottle</td>
    </tr>
   <tr>
      <th scope="row">2</th>
      <td>Single use Coffee Cups</td>
      <td>Keep Cup</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Plastic Straws</td>
      <td>Steel Straws</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Plastic Toothbrush</td>
      <td>Bamboo Toothbrush</td>
    </tr>
  </tbody>
</table>

</section>
    
   

{% endblock %}