{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":19,"column":29},"end":{"row":19,"column":29},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"7c54fdb7a412df7fcc05439460a473bd203b4f1b","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1576612720835}