{% extends 'base.html' %}

{% block content %} {% for product in products %}

<div class="container">
    <div class="row">
            <div class="card col-sm-12">
                <div class="card-body text-center">
                    <img class="card-img-top" src="{{ MEDIA_URL }}{{ product.image }}" alt="Card image cap">
                    <h4 class="card-title">{{ product.name }}</h4>
                    <p class="card-text text-center">{{ product.description }}</p>
                    <p class="card-text text-center">{{ product.price}}</p>
                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                            <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>

{% endfor %} {% endblock %}