@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

/* style navbar and fontawesome icons */

.navbar {
    background-color: #D3D3D3;
    font-family: 'Oswald', sans-serif;
    color: white;
    
}

#footer {
    background-color: black;
}

.jumbotron {
    background-color: black;
}