{% extends 'base.html' %}

{% block content %}
    {% for review in reviews %}

  <div class="container">
    <div class="row">
        <div class="card col-sm">
            <div class="card-body text-center">
                <h4 class="card-title">{{ review.user_name}}</h4>
                <h3 class="card-text text-center">{{  review.product_name }}</h3>
                <p class="card-text text-center">{{ review.comment }}</p>
                <h3 class="card-text text-center">{{  review.rating }}</h3>
                
               
            </div>
        </div>
    </div>
</div>


{% endfor %}




{% endblock %}